@charset "utf-8";

.new-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: #555555;
  }

  &-select-list,
  .new-task-title,
  .new-task-detail {
    width: 300px;
    margin-bottom: 25px;
  }

  &-detail {
    height: 200px;
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}

.error-message {
  color: #ff3333;
}

@media screen and (max-width: 959px) {
  .new-task {
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .new-task {
    width: auto;
    margin: 0 auto;
  }
}
